<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pallet.css">
    <title>Coffee App</title>
</head>

<body>

    <div class="pallete pallete-1">

        <div class="color color-1">Primary color for background or headers</div>
        <div class="color color-2">Secondary background or card color</div>
        <div class="color color-3">Text and accents</div>
        <div class="color color-4">Buttons and highlights</div>
        <div class="color color-5">Secondary text and accents</div>
    </div>

    <div class="pallete pallete-2">

        <div class="color color-6">Primary color for background or headers</div>
        <div class="color color-7">Secondary background or card color</div>
        <div class="color color-8">Text and accents</div>
        <div class="color color-9">Buttons and highlights</div>
        <div class="color color-10">Secondary text and accents</div>

    </div>

    
    <div class="pallete pallete-3">

        <div class="color color-11">Primary color for background or headers</div>
        <div class="color color-12">Secondary background or card color</div>
        <div class="color color-13">Text and accents</div>
        <div class="color color-14">Buttons and highlights</div>
        <div class="color color-15">Secondary text and accents</div>

    </div>

      
    <div class="pallete pallete-4">

        <div class="color color-16">Primary color for background or headers</div>
        <div class="color color-17">Secondary background or card color</div>
        <div class="color color-18">Text and accents</div>
        <div class="color color-19">Buttons and highlights</div>
        <div class="color color-20">Secondary text and accents</div>

    </div>




</body>

</html>